@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-neon-green: #ccff00;
  --color-neon-cyan: #00ffff;
  --color-deep-black: #050505;
  --color-glass-border: rgba(255, 255, 255, 0.08);

  --font-sans: "Inter", sans-serif;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  /* overflow: hidden; Removed to allow scrolling on content pages */
  font-family: var(--font-sans);
}

/* Global Noise Overlay */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.03;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: overlay;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Selection Color */
::selection {
  background: var(--color-neon-green);
  color: black;
}